form{
    text-align: center;
    margin: 1%;
    max-width: 50%;
        
    background-color: aqua;


}
body{
    border: 1cm;
    text-align: justify;
    
}
#name{
    box-sizing: border-box;
    padding: 1%;
    padding-bottom: 2%;
}

